<div class="row">
  <div class="small-12  medium-6 medium-centered large-6 large-centered columns">
    <%= form_for(student) do |f| %>
      <% if student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
          <% student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div id="title" class="text-center fnt-aladin">
        <span>New Student</span>
      </div>
      <div id="border-field">
        <div class="field">
          <%= f.label :birthdate %>
          <%= f.date_select :birthdate %>
        </div>

        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>

        <div class="field">
          <%= f.label :goal %>
          <%= f.number_field :goal %>
        </div>

        <div class="field">
          <%= f.label :parent_id %>
          <%= f.text_field :parent_id %>
        </div>

        <div class="actions">
          <%= f.submit class: "button expanded btn-radius-20" %>
        </div>
      <% end %>
      </div>
  </div>
</div>
