<p id="notice"><%= notice %></p>
<div class="row expanded info-title-bar title-info-bar">
  <div class="text-center fnt-aladin">
    <span>
      Student's Information
    </span>               
  </div>
</div>
<div class="row">     
  <div class="small-12 medium-12 large-12 columns">
    <div class="info-title">
      <span>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Basic information
      </span>
    </div>
    <div class="border-info row column">
      <div id="profile-pic" class="small-12 medium-5 large-2  columns">
        <div class="thumbnail">
          <%= image_tag("profile-img.jpg", :alt => "profile pic") %>
        </div>
      </div>  
      <div class="small-12 medium-7 large-10 columns">
        <div class="text-left">
          <p>
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
            <strong>Birthdate: </strong>
            <span>        
              <%= @student.birthdate %>             
            </span>
          </p>
          <p>
            <span>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <strong>Username: </strong>
            <span>
              <%= @student.username %>          
            </span>
          </p>
          <p>
            <span>
              <i class="fa fa-money" aria-hidden="true"></i>
            </span>
            <strong>Goal: </strong>
            <span>
              <%= @student.goal %>          
            </span>
          </p>
          <p>
            <span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <strong>Parent:</strong>
            <span>
              <%= @student.parent %>
            </span>
          </p> 
          <%= link_to edit_student_path(@student), class: 'button btn-radius-10 btn-visited' do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit 
          <% end %>     
        </div>    
      </div>      
    </div>
  </div>              
</div>
