<p id="notice"><%= notice %></p>
<div class="row expanded info-title-bar title-info-bar">
  <div class="text-center fnt-aladin">
    <span>
      Key Donors
    </span>               
  </div>
</div>
<div class="row">
  <div class="small-12  medium-10 medium-centered large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Relationship</th>
          <th>Students</th>
          <th>Donor</th>
          <th>Donation</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @key_donors.each do |key_donor| %>
          <tr>
            <td><%= key_donor.relationship %></td>
            <td><%= key_donor.Students %></td>
            <td><%= key_donor.Donor %></td>
            <td><%= key_donor.donation %></td>
            <td>  
              <%= link_to key_donor, class: 'button small hollow btn-radius-10' do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
                show
              <% end %>
                
            </td>
            <td>
              <%= link_to edit_key_donor_path(key_donor), class: 'button small hollow btn-radius-10' do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                edit
              <% end %>                
            </td>
            <td>
              <%= link_to key_donor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button small hollow btn-radius-10' do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
                delete
              <% end %>                
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to new_key_donor_path, class: 'button btn-radius-10' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      New 
    <% end %>
  </div>
</div>