<h1>New Key Donor</h1>



 <div class="row expanded info-title-bar title-info-bar">
  <div class="text-center fnt-aladin">
    <span>
      <div class="field">
      <%= label_tag :Donor %>
      <%= @donor.user.firts_name%> <%= @donor.user.last_name %>
      </div>
    </span>               
  </div>
</div> 

<div class="text-center fnt-aladin">
    <span>
      <div class="field">
      <%= label_tag :Student %>
      <%= @student.user.firts_name%> <%= @student.user.last_name %>
      </div>
    </span>               
  </div>
</div> 



<div class="field">
    <%= label_tag :relationship %>
    <%= text_field_tag :relationship %>
 </div>

 <div class="actions">
    <%= submit_tag %>
  </div>
