<p id="notice"><%= notice %></p>

<p>
  <strong>Relationship:</strong>
  <%= @key_donor.relationship %>
</p>

<p>
  <strong>Student:</strong>
  <%= @key_donor.students_id %>
</p>

<p>s
  <strong>Donor:</strong>
  <%= @key_donor.donor_id%>
</p>

<p>
  <strong>Donation:</strong>
  <%= @key_donor.donation %>
</p>

<%= link_to 'Edit', edit_key_donor_path(@key_donor) %> |
<%= link_to 'Back', key_donors_path %>
