<% if user_signed_in? %>
	<div class="row expanded">
		<div class="text-center">
	        <span id="logo-welcome" class="fnt-great-vibes">
	            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
	          	CollegeFund.me
	  		</span>        
    	</div>		
	</div>
 	<div class="row expanded welcome-bar">
 		<div class="text-center">
 			<span>
 				Welcome to CollegeFund: <%=current_user.email%>
 			</span> 			
 		</div>
 	</div>
 	<div class="row"> 		
 		<div class="small-12 medium-12 large-12 columns">
			<div class="info-title">
				<span>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					Basic information
				</span>
			</div>
			<div class="border-info row column">
				<div id="profile-pic" class="small-12 medium-5 large-2  columns">
					<div class="thumbnail">
								<%= image_tag("profile-img.jpg", :alt => "profile pic") %>
					</div>
				</div>	
				<div class="small-12 medium-7 large-10 columns">
					<p>User: <%=current_user.email%></p>
				    <p>Roles:
				    <% if current_user.has_role? :parent%>
					    Parent
					<% end %>
					<% if current_user.has_role? :student%>
					    Student
					<% end %>
					<% if current_user.has_role? :donor%>
					   Donor
				    <% end %>
				    </p>						
				</div>			
			</div>
 		</div> 
 		<div class="text-center">
 			<div id="title" class="fnt-great-vibes">
 				<span>Complete your profile</span>
 			</div> 		
 			<div>	
		      	<% unless current_user.has_role? :parent%>
			      <%= link_to "Parent", new_parent_path, method: :get, class: 'hollow button large'%>
			    <% end %>
			    <% unless current_user.has_role? :student%>
			      <%= link_to "Student", new_student_path, method: :get, class: 'hollow button large'%>
			    <% end %>
			    <% unless current_user.has_role? :donor%>
			      <%= link_to "Donor", new_donor_path, method: :get, class: 'hollow button large'%>
			     <% end %>
		 <% else %>
		     <%= link_to "Sign In", new_user_session_path, method: :new %>
		 <%end%>
		 	</div>
 		</div>			
 	</div> 

      
