<p id="notice"><%= notice %></p>

<h1 align="center">PARENT</h1>

<p>
  <strong>Firts Name</strong>
  <%= @parent.user.firts_name %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @parent.user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @parent.user.email %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
